
@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
html, body, #root { height: 100%; }
body { background: #f6fbff; }

body { overscroll-behavior-y: none; }

.no-tap-highlight { -webkit-tap-highlight-color: transparent; }
html, body { overscroll-behavior-y: none; }
